# German Credit
Load the CSV file GermanCredit.csv (1000 records) into a Pandas DataFrame, and perform the following tasks on it.

In [137]:
import pandas as pd

gcred = pd.read_csv("../data/GermanCredit.csv")

## Preprocessing
1. Drop the 3 columns that contribute the least to the dataset. These would be the columns with the highest number of non-zero
‘none’ values. Break ties by going left to right in columns. (Your code should be generalizable to drop n columns, but for the rest of the
analysis, you can call your code for n = 3.)

In [138]:
import numpy as np

n_dropped = 3
num_nones = gcred.isnull().sum(axis = 0)
max_val = np.max(num_nones)
grouped = num_nones.to_frame(0).groupby(0)
gcred_cols = list(gcred.columns)

if max_val > 0:
    for num_nones, group in grouped:
        if num_nones == max_val:
            columns = [i for i in group[0].keys()]

            n = min(n_dropped, len(columns))
            indices = [gcred_cols.index(i) for i in columns]
            gcred = gcred.drop(gcred.columns[indices], axis=1)

display(gcred.columns)

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

2. Certain values in some of the columns contain unnecessary apostrophes ('). Remove the apostrophes.

In [139]:
gcred = gcred.replace("'","",regex=True)
display(gcred.head(10))

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
5,no checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,good
6,no checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,existing paid,used car,6948,<100,1<=X<4,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,no checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,good
9,no checking,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad

3. The checking_status column has values in 4 categories:
    - 'no checking'
    - '<0'
    - '0<=X<200'
    - '>=200'

    Change these to:
    - 'No Checking'
    - 'Low'
    - 'Medium'
    - 'High'

In [140]:
checking_replace_map = {"no checking":"No Checking", "<0":"Low", "0<=X<200":"Medium", ">=200":"High"}
for (k,v) in checking_replace_map.items():
    gcred['checking_status'] = gcred['checking_status'].str.replace(k,v,regex=True)

display(gcred.head(10))

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,Medium,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,No Checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,Low,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,Low,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
5,No Checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,good
6,No Checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,good
7,Medium,36,existing paid,used car,6948,<100,1<=X<4,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,No Checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,good
9,No Checking,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad

5. The savings_status column has values in 4 categories:
    1. 'no known savings'
    2. '<100'
    3. '100<=X<500'
    4. '500<=X<1000'
    5. '>=1000'.
    
    Change these to:
    1. 'No Savings'
    2. 'Low'
    3. 'Medium'
    4. 'High'
    5. 'High'
    
    respectively. (Note that the last two are both 'High').

In [144]:
saving_replace_map = {
    "no known savings": "No Checking",
    "<100":             "Low",
    "100<=X<500":       "Medium",
    "500<=X<1000":      "High",
    ">=1000":           "High",
}
for (k,v) in saving_replace_map.items():
    gcred['savings_status'] = gcred['savings_status'].str.replace(k,v,regex=True)
gcred.head(10)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,No Checking,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,Medium,48,existing paid,radio/tv,5951,Low,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,No Checking,12,critical/other existing credit,education,2096,Low,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,Low,42,existing paid,furniture/equipment,7882,Low,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,Low,24,delayed previously,new car,4870,Low,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
5,No Checking,36,existing paid,education,9055,No Checking,1<=X<4,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,good
6,No Checking,24,existing paid,furniture/equipment,2835,500<=XLow0,>=7,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,good
7,Medium,36,existing paid,used car,6948,Low,1<=X<4,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,No Checking,12,existing paid,radio/tv,3059,High,4<=X<7,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,good
9,No Checking,30,critical/other existing credit,new car,5234,Low,unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad

6. Change class column values from 'good' to '1' and 'bad' to '0', and change the employment column value 'unemployed' to 'Unemployed', and for the others, change to 'Amateur', 'Professional', 'Experienced' and 'Expert', depending on year range.

In [149]:
replacement_map = {
    "class": {
        "good":     "1",
        "bad":      "0"
    },
    "employment": {
        "unemployed":   "Unemployed",
        "<1":           "Amateur",
        "1<=X<4":       "Professional",
        "4<=X<7":       "Experienced",
        ">=7":          "Expert"
    },
}

for (col, map) in replacement_map.items():
    for (old, new) in map.items():
        gcred[col] = gcred[col].str.replace(old, new, regex=True)

gcred.head(10)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,Low,6,critical/other existing credit,radio/tv,1169,No Checking,Expert,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,1
1,Medium,48,existing paid,radio/tv,5951,Low,Professional,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,0
2,No Checking,12,critical/other existing credit,education,2096,Low,Experienced,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,1
3,Low,42,existing paid,furniture/equipment,7882,Low,Experienced,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,1
4,Low,24,delayed previously,new car,4870,Low,Professional,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,0
5,No Checking,36,existing paid,education,9055,No Checking,Professional,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,1
6,No Checking,24,existing paid,furniture/equipment,2835,500<=XLow0,Expert,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,1
7,Medium,36,existing paid,used car,6948,Low,Professional,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,1
8,No Checking,12,existing paid,radio/tv,3059,High,Experienced,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,1
9,No Checking,30,critical/other existing credit,new car,5234,Low,Unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,0

## Analysis
For the following tasks, do preprocessing or changing of data types in the
data frame as required.

1. Often we need to find correlations between categorical attributes, i.e. attributes that have values that fall in one of several categories, such as “yes”/“no” for attr1, or “low”,“medium”,“high” for attr2.

    One such correlation is to find counts in combinations of categorial
    values across attributes, as in how many instances are “yes” for attr1 and “low” for attr2. A good way to find such counts is to use the Pandas crosstab function. Do this for the following two counts.

    (a)&nbsp; Get the count of each category of foreign workers (yes and no) for each class of credit (good and bad).
    
    (b)&nbsp; Similarly, get the count of each category of employment for each category of saving_status

In [150]:
cross = pd.crosstab(gcred['foreign_worker'], gcred['class'])
cross.head(10)

KeyError: 'credit_status'

## Visualization
Plot subplots of two histograms: one with savings_status on the x-axis and personal_status as different colors, and another with checking_status on the x-axis and personal_status as different colors.