# German Credit
Load the CSV file GermanCredit.csv (1000 records) into a Pandas DataFrame, and perform the following tasks on it.

In [116]:
import pandas as pd

gcred = pd.read_csv("../data/GermanCredit.csv")

## Preprocessing
1. Drop the 3 columns that contribute the least to the dataset. These would be the columns with the highest number of non-zero
‘none’ values. Break ties by going left to right in columns. (Your code should be generalizable to drop n columns, but for the rest of the
analysis, you can call your code for n = 3.)

In [122]:
import numpy as np

n_dropped = 3
num_nones = gcred.isnull().sum(axis = 0)
max_val = np.max(num_nones)
grouped = num_nones.to_frame(0).groupby(0)
gcred_cols = list(gcred.columns)

for num_nones, group in grouped:
    if num_nones == max_val:
        columns = [i for i in group[0].keys()]

        n = min(n_dropped, len(columns))
        indices = [gcred_cols.index(i) for i in columns]
        gcred = gcred.drop(gcred.columns[indices], axis=1)

display(gcred.columns)

Index(['duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'personal_status', 'other_parties', 'residence_since',
       'property_magnitude', 'age', 'other_payment_plans', 'housing',
       'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

2. Certain values in some of the columns contain unnecessary apostrophes ('). Remove the apostrophes.

In [123]:
gcred = gcred.replace("'","",regex=True)
display(gcred.head(10))

,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,'critical/other existing credit',radio/tv,1169,'no known savings','>=7',4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,'existing paid',radio/tv,5951,'<100','1<=X<4',2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,'critical/other existing credit',education,2096,'<100','4<=X<7',2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,'existing paid',furniture/equipment,7882,'<100','4<=X<7',2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'delayed previously','new car',4870,'<100','1<=X<4',3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
5,36,'existing paid',education,9055,'no known savings','1<=X<4',2,'male single',none,4,'no known property',35,none,'for free',1,'unskilled resident',2,yes,yes,good
6,24,'existing paid',furniture/equipment,2835,'500<=X<1000','>=7',3,'male single',none,4,'life insurance',53,none,own,1,skilled,1,none,yes,good
7,36,'existing paid','used car',6948,'<100','1<=X<4',2,'male single',none,2,car,35,none,rent,1,'high qualif/self emp/mgmt',1,yes,yes,good
8,12,'existing paid',radio/tv,3059,'>=1000','4<=X<7',2,'male div/sep',none,4,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
9,30,'critical/other existing credit','new car',5234,'<100',unemployed,4,'male mar/wid',none,2,car,28,none,own,2,'high qualif/self emp/mgmt',1,none,yes,bad